{% extends 'base.html' %}

{% block title %}Подтвердите удаление фотографии{% endblock %}
{% block page_header %}Вы уверены, что хотите удалить статью {{ album.name }}?{% endblock page_header %}

{% block content%}
    <form action="{% url "gallery:album-delete" album.id %}", method="POST">
        {% include 'partial/form.html' with button_text="Да, я хочу удалить альбом" %}
        <a href="{% url "gallery:album-view" album.id %}">Отмена. Код красный. КОД КРАСНЫЙ!!</a>
    </form>
{% endblock content %}