{% extends "base.html" %}

{% block menu %}
    {% if user.is_authenticated %}
        <li><a href="{% url "gallery:album-add" %}">Добавить альбом</a></li>
    {% endif %}
    {% if perms.gallery.album_change %}
        <li><a href="{% url "gallery:album-update" album.id %}">Редактировать альбом</a></li>
    {% endif %}
    {% if perms.gallery.album_delete %}
        <li><a href="{% url "gallery:album-delete" album.id %}">Удалить альбом</a></li>
    {% endif %}
{% endblock menu %}

{% block content %}
    <h2>{{ album.name }}</h2>
    <h4>{{ album.description }}</h4>
    <a class="btn btn-primary" href="#" role="button">Добавить в избранные</a>
    <a class="btn btn-danger" href="#" role="button">Убрать из избранных</a>
    {% for photo in album.photos.all %}
        <div class="card-columns">
          <div class="card">
            <img class="card-img-top" src="{{ photo.photo.url }}"alt="product picture">
            <div class="card-body">
              <h5 class="card-title">Подпись: {{ photo.signature }}</h5>
              <p class="card-text">Автор: {{ photo.author.username }}</p>
            </div>
            <div class="card-footer">
              <small class="text-muted">Дата: {{ photo.created_at }}</small>
              <a class="btn btn-primary" href="{% url "gallery:photo-view" photo.pk%}" role="button">Подробнее...</a>
            </div>
          </div>
        </div>
    {% endfor %}
{% endblock %}