{% extends 'base.html' %}

{% block menu %}
    {% if user.is_authenticated %}
        <li><a href="{% url "gallery:photo-add" %}">Добавить фото</a></li>
        <li><a href="{% url "gallery:album-add" %}">Добавить альбом</a></li>
    {% endif %}
{% endblock menu %}

{% block title %}Все фотографии{% endblock title %}

{% block page_header %}Все фотографии{% endblock page_header %}

{% block content %}
    {% if not photos %}
        <h2>НЕТ СТАТЕЙ</h2>
    {% else %}
        {% for photo in photos %}
            <div class="card-columns">
              <div class="card">
                <img class="card-img-top" src="{{ photo.photo.url }}"alt="product picture">
                <div class="card-body">
                  <h5 class="card-title">Подпись: {{ photo.signature }}</h5>
                  <p class="card-text">Автор: {{ photo.author.username }}</p>
                </div>
                <div class="card-footer">
                  <small class="text-muted">Дата: {{ photo.created_at }}</small>
                  {% if user.is_authenticated and photo.album.type == 'public' %}
                    <p class="card-text">Альбом: <a href="{% url "gallery:album-view" photo.album.id %}">{{ photo.album.name }}</a></p>
                  {% else %}
                    <p class="card-text">Альбом: {{ photo.album.name }}</p>
                  {% endif %}
                  {% if user.is_authenticated and photo.type == 'public' %}
                    <a class="btn btn-primary" href="{% url "gallery:photo-view" photo.pk%}" role="button">Подробнее...</a>
                  {% endif %}
                </div>
              </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock content %}