{% extends "base.html" %}

{% block menu %}
    <li><a href="{% url "gallery:photo-add" %}">Добавить фотографию</a></li>
    <li><a href="{% url "gallery:photo-update" photo.id %}">Редактировать фотографию</a></li>
    <li><a href="{% url "gallery:photo-delete" photo.id %}">Удалить фотографию</a></li>
{% endblock menu %}

{% block content %}
    <div class="card-columns">
      <div class="card">
        <img class="card-img-top" src="{{ photo.photo.url }}"alt="product picture">
        <div class="card-body">
          <h5 class="card-title">Подпись: {{ photo.signature }}</h5>
          <p class="card-text">Автор: {{ photo.author.username }}</p>
        </div>
        <div class="card-footer">
          <small class="text-muted">Дата: {{ photo.created_at }}</small>
          <p class="card-text">Альбом: {{ photo.album.name }}</p>
        </div>
      </div>
    </div>
{% endblock %}